body{
    margin: 0%;
    padding: 0%;
    width: 100% ;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

/* EMPIEZA EL HEADER JUNTO AL NAV */
.header-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.header-input {
    padding: 1.3em 10em 1.3em 1em;
    border: 1px solid rgba(128, 128, 128, 0.39);
    border-radius: 7px;
}

.header-input::-webkit-input-placeholder {
    text-align: left;
    line-height: 100px;/* Centrado vertical */
}
.header-input:hover{
    border: 1.5px solid black;
}
.bttLogin{
    border: none;
    padding: .75em 2em .75em 2em;
    color: white;
    font-size: 15px;
    background-color: tomato;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, .1) ;
    
}

.nav-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: orangered;
    height: 70px;
    margin: 0%;
    padding: 0%;
}

.nav-item{
    text-transform: uppercase;
    font-size: 16px;
}
.nav-item:hover{
    color: white;
}
/* TERMINA EL HEADER JUNTO AL NAV */

/*EMPIEZA LA IMAGEN*/
.imagen{
    width:100%;
    margin: 0;
}
/*TERMINA LA IMAGEN*/
.minheader{display: none;}
.logomobile{display: none;}
@media (max-width:965px ){
    .nav-wrapper{display: none;}
    .header-wrapper{display: none;}
    .minheader{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
        position: fixed;
        background-color: #eee;
    }
    .logomobile{
        display: block;
        width: 200px;
        margin: auto;
        padding-top: 10px;
    }
    .fa{
        font-size: 30px;
        margin-right: 10px;
        margin-top: 20px;
    }
    .topnav a.icon{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    #myLinks{
        flex-direction: column;
        gap: 5px;
        font-size: 24px;
        margin-top: 2.3em;
    }
    .imagen{
        width:100%;
        margin-top: 65px;
    }
    .marcasImg{
        width: 100%;
    }
    .marcasVarias{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .footer-wrapper{
        display: flex;
        background-color: orange;
        height: 100px;
        justify-content: center;
        align-items: center;
    }
    .afipLogo{width: 50%;border-right: 1px solid black; padding-right: 40px;}

    .jobs{
        margin-right: 250px;
    }
    .subtitle{
        border: 2px solid black;
        border-style: dotted;
        background-color: transparent;
    }
    .subtext{
        font-size: 18px;
    }


}

.marcasImg{
    width: 100%;
}
.marcasVarias{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.footer-wrapper{
    display: flex;
    background-color: orange;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.afipLogo{width: 20%;border-right: 1px solid black; padding-right: 40px;}
.jobs{
    border-right: 1px solid black;
    margin-right: 200px;
    height: 80px;
    }
.subtitle{
    border: 2px solid black;
    border-style: dotted;
    background-color: transparent;
    margin-top: 20px;
    margin-right: 200px;
    cursor: pointer;
}
.subtext{
    font-size: 18px;
}
